#mainNav .navbar-brand {
    font-family: 'Gugi', 'Helvetica Neue',Helvetica,Arial,cursive;
}

.header-brand {
  font-family: 'Gugi','Helvetica Neue',Helvetica,Arial,cursive;
  color: #fed136;
  font-size: 35px;
}

@media (min-width: 768px) {
  .header-brand {
    font-family: 'Gugi','Helvetica Neue',Helvetica,Arial,cursive;
    color: #fed136;
    font-size: 45px;
  }
}


header.masthead .intro-text .intro-heading {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  header.masthead .intro-text .intro-heading  {
    font-size: 35px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 5px;
  }
}


section#contact {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/contact.png");
  background-repeat: no-repeat;
  background-position: center;
}

header.masthead {
  text-align: center;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/header.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 768px) {
  .timeline > li {
    margin-bottom: 50px;
  }
}

#problem .problem-item {
  margin-top: 50px;
  margin-bottom: 50px;
}

#problem .problem-item img {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  #problem .problem-item img {
    margin-bottom: 0px;
  }
}
